/* CSS */
.create-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px; /* Khoảng cách giữa các phần tử */
}

.create-project-container label {
  font-weight: bold;
}

.create-project-container input,
.create-project-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-project-container select {
  width: 100%;
}

.create-project-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-project-container button:hover {
  background-color: #45a049;
}

#components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}
